<manifest package="com.mateuszkoslacz.moviper.tests"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".views.TestActivity"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".views.ViewHolderInstrumentedTestActivity"/>
    </application>

</manifest>
